<%= form_for @blog_post do |f| %>
<%if f.object.errors.any?%>
    <div>
        <% f.object.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
        <% end %>
    </div>
<%end%>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :cover_image %><br> 
        <% if blog_post.cover_image.present? %>
            <div id = "<%= dom_id(blog_post, :cover_image)  %>">
                <%= image_tag(@blog_post.cover_image) %>
                <%= link_to "Remove image", blog_post_cover_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
        <% end %>
        <%= f.file_field :cover_image %>
    </p>
    <p>
        <%= f.label :content %><br>
        <%= f.rich_text_area :content %>
    </p>

    <p>
        <%= f.label :published_at %><br>
        <%= f.datetime_select :published_at, include_blank: true %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
