
<div  class="min-h-dvh text-center flex flex-col justify-between" >
    
   <%= image_tag @blog_post.cover_image, class: "w-100 h-100" if @blog_post.cover_image.attached?%>

    <h1> <%=@blog_post.title%> </h1>

    
    
    <p > <%=@blog_post.content%> </p>
    
    <div class="flex gap-5 justify-center items-center ">
        <%= link_to "Back", blog_posts_path %>
        
        <% if user_signed_in? %>
        
        <%= link_to "Edit", edit_blog_post_path(@blog_post) %>
        
        <% end%>
    </div>
</div>