<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    <div class="mb-2">
      <% if flash[:notice] %>
        <p class="notice bg-green-500 text-white"> <%= notice %> </p>
      <% end %>
      <% if flash[:alert]%>
        <p class="alert bg-red-500 text-white"> <%= alert %> </p>
      <% end %>
      <div class="absolute left-5 top-5">
        <% if user_signed_in? %>
          <%# <%= link_to "Profile", edit_user_registration_path %>
          <%= button_to "Logout", destroy_user_session_path, method: "delete", class: "bg-gray-200 px-4 py-2 rounded hover:brightness-90"%>
        <% else %>
          <%# <%= link_to "Login", new_user_session_path %>
          <%# <%= link_to "Sign Up", new_user_registration_path %>
        <%end%>
      </div>
      <%= yield %>
    </div>


  </body>
</html>
